body{
	font-family: Segoe UI; 
	font-size: 14px; 
	color: #888; 
	
}
header{ 
 background-color: #4b5054; 
	padding: 40px 0;

} 
#hero{ 
	background-image:  url("../img/gallery-2.jpg"); 
	background-size: cover; 
	background-repeat: no-repeat; 
	background-position: center; 
	padding: 8% 0;
	text-align: center;

} 
#hero h4{ 
 font-size: 14px;
text-transform: uppercase; 
color: #af9f66; 
font-weight: 600; 
letter-spacing:  1px; 
} 

#hero h1{ 
 font-size: 50px; 
	color: #fff; 
	text-transform: uppercase;
	font-weight: 400;
	letter-spacing:  1px;  
	margin-bottom: 10%;
} 

#hero .btn{ 
	background-color: transparent; 
	border: 1px solid #af9f66;
	border-radius: 0; 
	color: #af9f66; 
	text-transform: uppercase; 
	letter-spacing: 1px; 
	font-size: 14px;  
	font-weight: 600;
	padding: 10px 40px
} 
#hero .btn:hover{ 
	background-color:  rgba(0,0,0,0.70); 
	color: #fff; 
	border-color: #000; 



}
#welcome{ 
padding: 60px 0; 
text-align: center;

}
#welcome h3{ 
font-size:20px; 
color: #af9f66;

} 

.section { 
	padding: 65px 0;

} 
#transforming{ 
	background-color: #f5f5f5;
	text-align: center; 
}
.titulo{ 
	text-transform: uppercase;
	color: #af9f66;
	text-align: center;  
	letter-spacing: 4px; 
	font-size: 30px;  
} 
.subtitulo{ 
	text-transform: uppercase;
	color: #999794;
	text-align: center;  
	letter-spacing: 4px; 
	font-size: 14px; 
	font-weight: 700; 
	margin-bottom: 30px;
}
.parrafo{ 


}